<div class="container mx-tb-20">
  <h2></h2>
  <div class="header">
    <input class="form-control" [(ngModel)]="search" placeholder="Search" (ngModelChange)="filterUser()">
    <button class="btn btn-primary exportBtn" (click)="exportCSV()">Export to csv</button>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="crsr-pntr" (click)="sortUser('Name')">
              Name <i *ngIf="sortingColumn === 'Name'" class="fa {{sortType === '' || sortType === 'ASC' ? 'fa-sort-amount-asc' : 'fa-sort-amount-desc'}}"></i>
            </th>
            <th class="crsr-pntr" (click)="sortUser('Designation')">
              Designation <i *ngIf="sortingColumn === 'Designation'" class="fa {{sortType === '' || sortType === 'ASC' ? 'fa-sort-amount-asc' : 'fa-sort-amount-desc'}}"></i>
            </th>
            <th class="crsr-pntr" (click)="sortUser('Number')">
              Number <i *ngIf="sortingColumn === 'Number'" class="fa {{sortType === '' || sortType === 'ASC' ? 'fa-sort-amount-asc' : 'fa-sort-amount-desc'}}"></i>
            </th>
            <th class="crsr-pntr" (click)="sortUser('Email')">
              Email <i *ngIf="sortingColumn === 'Email'" class="fa {{sortType === '' || sortType === 'ASC' ? 'fa-sort-amount-asc' : 'fa-sort-amount-desc'}}"></i>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of pageWiseArray">
            <td>{{user.Name}}</td>
            <td>{{user.Designation}}</td>
            <td>{{user.Number}}</td>
            <td>{{user.Email}}</td>
          </tr>
        </tbody>
      </table>
      <div class="rightAlign">
        <pagination [boundaryLinks]="true" [totalItems]="users.length" [itemsPerPage]="perPageLimit" [maxSize]="5" 
          (pageChanged)="pageChanged($event)" class="pagination-sm"></pagination>
      </div>
    </div>
  </div>
</div>